
<article class="article article-post">
  <div class="article-inner content">
    <div class="article-info">
      <div class="article-info-title">
        <h2><%= page.title %></h2>
        <div class="info-time">
          <%= date(page.date, "YYYY-MM-DD") %>
        </div>
      </div>
      <div class="article-info-content"><%- page.content %></div>

    </div>
  </div>
</article>