
<article class="article article-post">
  <div class="article-inner">
    <div class="article-header">
      <%- list_tags(page.tags, {
          style: false,
          class: 'article-tag',
          show_count: false
      }) || '无标签' %>
    </div>
    <div class="article-info">
      <div class="article-info-title"><%= page.title %></div>
      <div class="article-info-content"><%- page.content %></div>
    </div>
  </div>
  <div class="article-directory">
    <h2 class="toc-h2">目录</h2>
    <div class="toc-wrap">
      <%- toc(page.content) %>
    </div>
  </div>
</article>