body {
  font-size: 16px;
}
i {
  cursor: pointer;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
@media (max-width: 720px) {
  .right-col {
    display: none;
  }
}
.right-col {
  position: absolute;
  left: 514px;
  right: 0;
  width: auto;
  min-height: 100%;
  transition: all 0.3s ease-in;
}
.article {
  width: 100%;
}
.article-header {
  height: 95px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 26px;
  color: #616269;
  padding-left: 20px;
}
.article-header .article-info-tag {
  position: relative;
  padding-left: 30px;
}
.article-header .article-info-tag::before {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background: #50E3C2;
  position: absolute;
  left: 0;
  top: 15px;
}
.article-info {
  padding: 20px;
}
.article-info-title {
  color: #16171A;
  font-weight: 500;
  font-size: 36px;
}
a:hover {
  text-decoration: none;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 720px) {
  .nav {
    display: none;
  }
}
.nav {
  width: 100px;
  height: 100%;
  border-right: 7px solid #f0f2f5;
  position: fixed;
}
.nav-title {
  text-align: center;
  padding: 1rem 0;
  transition: .3s;
  font-size: 41px;
}
.nav-title a {
  color: #737373 !important;
}
.nav-toggle-nav {
  position: absolute;
  bottom: 2rem;
  left: calc(37.5%);
  color: #999999;
  cursor: pointer;
  transition: 1s;
}
.nav-toggle-nav i {
  width: 25px;
  height: 22px;
}
.left-col {
  width: 400px;
  height: 100vh;
  border-right: 7px solid #f0f2f5;
  overflow-y: hidden;
  position: fixed;
  left: 107px;
}
.left-col-close {
  position: absolute;
  top: 2.2rem;
  right: 1.25rem;
}
.left-col-close i {
  font-size: 25px;
  color: #888888;
}
.left-col-author-profile {
  width: 75%;
  margin: 5.75rem auto 0;
}
.left-col-author-profile .profile {
  display: flex;
  justify-content: flex-start;
  color: #555555;
}
.left-col-author-profile .profile-pic {
  width: 82px;
  height: 82px;
  transition: all 0.2s ease-in;
}
.left-col-author-profile .profile-pic img {
  width: inherit;
  height: inherit;
}
.left-col-author-profile .profile-title {
  padding: 0 1.25rem;
  font-size: 1.5rem;
  color: #555;
}
.left-col-author-profile .profile-subtitle {
  font-size: 14px;
  padding-top: 4px;
}
.left-col-author-profile .social {
  margin: 25px 0;
  position: relative;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.left-col-author-profile .social a {
  padding-right: 20px;
}
.left-col-author-profile .social::after {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 140px;
  height: 1px;
  background: #D4D4D4;
}
.left-col-author-profile .social i {
  font-size: 1.5rem;
}
.left-col-author-profile .left-col-lists li {
  font-size: 1.5rem;
  padding: 20px 60px 0;
  position: relative;
  cursor: pointer;
}
.left-col-author-profile .left-col-lists li a {
  color: #333;
}
.left-col-author-profile .left-col-lists li.active::before {
  background: #4A90E2;
}
.left-col-author-profile .left-col-lists li::before {
  content: '';
  position: absolute;
  left: 8px;
  top: 29px;
  width: 28px;
  height: 14px;
  border-radius: 12px;
  background: #C3C3C3;
}
.left-col-author-profile .left-col-lists li:last-child::after {
  content: '';
  position: absolute;
  top: 100px;
  left: 0;
  width: 140px;
  height: 1px;
  background: #D4D4D4;
}
.left-col-footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: #000000;
  line-height: 1.25rem;
}
@media (max-width: 720px) {
  .left-col {
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    min-height: 100%;
    width: auto !important;
    border: none !important;
  }
  .left-col-author-profile {
    margin: 0 auto;
  }
  .left-col-close {
    display: none;
  }
  .left-col li {
    font-size: 1rem !important;
  }
}
.left-sidebar-nav {
  height: 95px;
  width: 100%;
  border-bottom: 12px solid #f0f2f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-sidebar-nav .sidebar-nav-title {
  padding-left: 16px;
}
.left-sidebar-nav .sidebar-nav-search {
  padding-right: 34px;
}
.left-sidebar-post {
  width: 100%;
}
.left-sidebar-post .post-card {
  border-bottom: 12px solid #f0f2f5;
  transition: all .5s ease;
  max-height: 300px;
}
.left-sidebar-post .post-card .post-card-content {
  padding: 25px 16px 18px 16px;
}
.left-sidebar-post .post-card .post-card-content-tag {
  font-size: 16px;
  color: #616269;
  position: relative;
  padding-left: 20px;
}
.left-sidebar-post .post-card .post-card-content-tag::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #50E3C2;
  position: absolute;
  left: 0;
  top: 10px;
}
.left-sidebar-post .post-card .post-card-content-title {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.left-sidebar-post .post-card .post-card-content-info {
  font-size: 16px;
  color: #555555;
  padding: 16px 0;
  font-weight: 500;
}
.left-sidebar-post .post-card .post-card-content-time {
  font-size: 12px;
  color: #888888;
}
.left-sidebar-post .post-card:last-child {
  border: none;
}
