<footer id="footer">
  浙ICP备18014378号-1
  <br/>
  <!-- <%= __('powered_by') %>
    <a href="http://hexo.io/" target="_blank">Hexo</a>, Theme by
    <a href="https://github.com/fengye9729/blog" target="_blank">fyflying</a> -->
    <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
</footer>