<div class="header">
  <div class="content">
    <a class="header-title" href="/">WHO ARE YOU</a>
    <nav id="nav">
      <% for (var i in theme.social) { %>
        <a class="<%= i %>" target="_blank" href="<%- url_for(theme.social[i]) %>" title="<%= i %>">
          <i class="fa fa-<%= i %>"></i>
        </a>
      <%}%>
    </nav>
  </div>
</div>