<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <%
    var title = titlecase(page.title);
  
    if (is_archive()){

      title = __('Page.Archives');  

    } else if (is_category()){

      title = __('Page.Categories') + ': ' + page.category;

    } else if (is_tag()){

      title = __('Page.Tags') + ': ' + page.tag;
      
    }
  %>
  <title><%= config.title %></title>

  <% if (theme.favicon) { %>

  <link rel="icon" href="<%- theme.favicon %>">

  <% } %>
  
  <%- css('//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') %>
  <%- css('css/style') %>

  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <!-- 百度统计 -->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?a5db3a2c4c9312dc4d3bad97281391cc";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script> 
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-125010419-1', 'auto');
    ga('send', 'pageview');
    </script>
  <!-- End Google Analytics -->
</head>