<div class="nav">
  <div class="nav-title">
    <a href="<%- url_for() %>"><%= config.title %></a>
  </div>
  <div class="comment">
    <a href="<%- url_for(theme.menu['About']) %>">留言</a>
  </div>
  <!-- <div class="nav-toggle-nav">
    <i class="fa fa-align-justify"></i>
  </div> -->
</div>